<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
  <h1>Random Company</h1>
  <nav>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
    <a routerLink="/extra" routerLinkActive="active">Extra</a>
    <a [routerLink]="[{outlets:{popup:['message']}}]" routerLinkActive="active">Message</a>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col-md-10">
           <router-outlet></router-outlet>
        </div>
        <div class="col-md-2">
          <router-outlet name="popup"></router-outlet>
        </div>
      </div>
  </div>
 

